.main-div{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.main-about-pro{
    padding-bottom: 100px;
    background: white;
}
.zemin-ab-div{    
    align-items: center;
    display: flex;
}

.zemin-images img{
    width: 540px;
    height: 720px;
}
.zemin-images{
    align-items: center;
    justify-content: end;
    display: flex;
}
.zemin-sec{
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    display: grid;
    grid-auto-flow: column;
    padding-top: 100px;
    padding-inline: 16%;
    display: flex;
    
    justify-content: center;
}

.zemin-sec-top{
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 100px;

    grid-template-columns: 1fr 1fr;
    justify-content: center;

    display: grid;
    grid-auto-flow: column;
    padding-top: 100px;
    padding-inline: 16%;
    display: flex;
    
    justify-content: center;
}

.zemin-sec-div{
    align-items: center;
    display: flex;
}

.zemin-about{
    
    margin-left: 50px;
}

.zemin-about h3{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(16 148 207);
}

.zemin-about p{
    text-transform: none;
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #707070;
}

.zemin-about h1{
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    color: #5B5B5B;
}

.zemin-about div{
    display: flex;
    flex-direction: column;
}
.zemin-about-div{
    
    align-items: center;
    display: flex;
}

.zemin-about button{
    transition: background-color 0.5s ease; 
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 12px 26px;
    text-align: left;
    color: #5B5B5B;
    width: 450px;
    background-color: #F5F5F5;
    border: none;
    margin-top: 10px;
    font-weight: 500;
}

.zemin-about button:hover{
    cursor: pointer;
    background-color: rgb(16 148 207);
    color: white;
}

@media(max-width: 1260px){
    
    .zemin-sec-top{
        padding-bottom: 20px;
        border-bottom: none;
    }
    .zemin-about p{
        width: 400px;
    }
    .zemin-images img{
        width: 400px;
        height: auto;
    }
    .zemin-about button{
        width: 300px;
    }
}

@media(max-width: 900px){
    .zemin-sec{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .zemin-images img{
        width: 400px;
        height: auto;
    }
    .zemin-images{
        display: flex;
        justify-content: center;
    }
    .zemin-sec-top{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .zemin-about-div{
        margin-top: 50px;
    }
    .zemin-about{
        margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .zemin-about p {
        text-align: center;
    }

    .zemin-about button{
        width: 400px;
    }
}

@media(max-width: 600px){
    .zemin-images img{
        width: 300px;
        height: auto;
    }
    .zemin-about button{
        width: 300px;
    }
    .zemin-about p{
        width: 300px;
    }
    .zemin-about h1{
        text-align: center;
    }
}