.title-content{
    position: absolute;
    width: 360px;
    background-color: rgba(220, 220, 220, 0.774);
    padding: 20px;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}


.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
}

.button-div{
    display: flex;
    padding-block: 40px;
    justify-content: end;

}

.title-content button{
    color: black;
    border-radius: 100px;
    background-color: rgba(16, 147, 207, 0);/* Green */
    border: 2.5px solid rgb(16 148 207);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.title-content button:hover{
    cursor: pointer;
    background-color: rgb(16 148 207);
    color: white;
}

.title-content h2{
    padding-block: 0px;
    font-size: 40px;
}

.title-content h3{
    font-weight: 300;
    padding-block: 5px;
    font-size: 25px;
}

.title-content p{
    padding-block: 10px;
    font-size: 18px;

}
@media(max-width: 1330px){
    
    .title-content h3{
        font-size: 18px;
    }
    .title-content h2{
        font-size: 24px;
    }
    .title-content p{
        font-size: 14px;
    }
}
@media(max-width: 1030px){
    .slide-img-sli-one{
        content: url('../sources/slider/homojen-vinil.png');
    }
    .slide-img-sli-two{
        content: url('../sources/slider/heterojen-vinil.png');
    }
    .slide-img-sli-three{
        content: url('../sources/slider/luks-vinil.png');
    }
    .slide-img-sli-four{
        content: url('../sources/slider/petek-asma.png');
    }
    .slide-img-sli-five{
        content: url('../sources/slider/baffle-asma.png');
    }
    .slide-img-sli-six{
        content: url('../sources/slider/karo-hali.png');
    }
    .title-content{
        left: 25%;
    }
    .title-content h3{
        font-size: 20px;
    }
    .title-content h2{
        font-size: 26px;
    }
    .title-content p{
        font-size: 16px;
    }
    .title-content button{
        
        padding: 12px 22px;
        font-size: 14px;
    }


}


@media(max-width: 800px){
    .title-content{
        left: 35%;
        width: 60%;
    }
    .title-content h3{
        font-size: 16px;
    }
    .title-content h2{
        font-size: 18px;
    }
    .title-content p{
        font-size: 12px;
    }
}